@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    
    background-color: lightblue;

}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}
menu{
    display:none;
}


ul{
   list-style-type: none;
 
    
   
}



a{
    display: block;
    color: black;
    text-decoration: none;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    

}
a:hover{
    background-color: darkgray;
}

main{
    width: 90vw;
    background-color: white;
    margin: top 10px; ;
    margin:auto;
    padding: 10px;
    border-radius: 10px;

}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align:justify ;
    margin-bottom: 10px;
    text-indent: 20px;
}

#burguer{
   background-color: rgb(241, 237, 237); 
   display: block;
   text-align: center;
   padding: 10px;
   cursor: pointer;
}

#burguer:hover{
    background-color: black;
    color: white;

}




