@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;


}



body{
    background-image:linear-gradient(45deg, #000000 20%,#F5E6E8, #D5C6E0,#AAA1C8 ,#967AA1 );
    background-attachment: fixed;
}

main{
    background-color:white;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10%;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;
}
h1{color:#60A561 ;

}
h2{color: #9EBD6E;

}
  