@charset "UTF-8";




@media screen and (min-width: 768px) and (max-width: 992px) {


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


        
body,html{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#5E2C81,#4EA29D);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
 


    
}

#div2{
    background-image: url(../imagens/background-form.webp);
    background-repeat: no-repeat;
    background-position:  right bottom;
    background-size:cover;
    width: 20vw;
    height: 250px;
    margin: auto;
    display: flex;
    border-radius: 20px 0px 0 20px;
   

  
    
 
   
   
   
   
  
 
    
}
main{
    display: flex;
    margin: auto;
    height: 250px;
    width: 90vw;

 

}


section{
    margin: auto;
    background-color:white ;
    text-align: justify;
    width: 90%;
    height: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
   
    
}

section h2{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

section p{
    margin-top: 4px;
    font-size: 0.9em;
}

    
    
.campotxt{
    background-color: #a9f8f381;
    border: 1px solid #5E2C81;
    border-radius: 8px;
    width: 80%;
    padding: 6px;
    width: 100%;
    height: 100%;

    
}



#button{
    width: 100%;
    color: white;
    background-color: #4EA29D;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #4EA29D;
}

#button2{
    width: 100%;
    color:#4EA29D;
    background-color: #ffffff;
    border: 1px solid #4EA29D;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;


}

#backtxt1{
    background-color: #5E2C81;
    border-radius: 10px;
    text-align: right;
    margin-top: 5px;
    padding: 1px;
    display: flex;
    padding-left: 10px;
    
}


#backtxt2{
    background-color: #5E2C81;
    border-radius: 10px;
    text-align: right;
    margin-top: 5px;
    padding: 1px;
    display: flex;
    padding-left: 10px;
    
    
}
#person{
    color: white;
    display: flex;
    align-items: center;
    margin: right 1px;;
    

    
}
#key{
    color: white;
    display: flex;
    align-items: center;
    

}

.campotxt:hover{
    background-color: white;
}
input:focus{
    background-color: #ffffff;
}

#button:hover{
    background-color: #5E2C81;
    color:white;

}
#button2:hover{
    background-color: #5E2C81;
    color: white;
    
}
}    
    


@media screen and (min-width: 992px) and (max-width:1200px) {
        

*{
    margin: 0px;
    padding: 0px;
    font-family:Helvetica, sans-serif;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#5E2C81,#4EA29D);
    background-repeat: no-repeat;
    display: flex;

  
 
   
    
}


main{
    background-image: url(../imagens/background-form.webp);
    background-repeat: no-repeat;
    
    background-position: right center;
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 0 20px 20px 0;
   
   
  
 
    
    
}
section{
    background-color:white ;
    text-align: justify;
    width: 50%;
    height: 300px;
    padding:10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
   
    
}

section h2{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

section p{
    margin-top: 4px;
    font-size: 0.9em;
}


.campotxt{
    background-color: #a9f8f381;
    border: 1px solid #5E2C81;
    border-radius: 8px;
    width: 80%;
    padding: 6px;
    width: 100%;

   
}



#button{
    width: 100%;
    color: white;
    background-color: #4EA29D;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #4EA29D;
}

#button2{
    width: 100%;
    color:#4EA29D;
    background-color: #ffffff;
    border: 1px solid #4EA29D;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;


}

#backtxt1{
    background-color: #5E2C81;
    border-radius: 10px;
    text-align: right;
    margin-top: 5px;
    padding: 1px;
    display: flex;
    padding-left: 10px;
  
}


#backtxt2{
    background-color: #5E2C81;
    border-radius: 10px;
    text-align: right;
    margin-top: 5px;
    padding: 1px;
    display: flex;
    padding-left: 10px;
    
  
}
#person{
    color: white;
    display: flex;
    align-items: center;
    margin: right 1px;;
 

    
}
#key{
    color: white;
    display: flex;
    align-items: center;
    

}

.campotxt:hover{
    background-color: white;
}
input:focus{
    background-color: #ffffff;
}

#button:hover{
    background-color: #5E2C81;
    color:white;

}
#button2:hover{
    background-color: #5E2C81;
    color: white;
    
}

    
  

    
    
}





    
   
        
        
 
@media screen and (min-width: 1200px) {
        

  
*{
    margin: 0px;
    padding: 0px;
    font-family:Helvetica, sans-serif;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#5E2C81,#4EA29D);
    background-repeat: no-repeat;
    display: flex;

  
 
   
    
}


main{
    background-image: url(../imagens/background-form.webp);
    background-repeat: no-repeat;
    
    background-position: right center;
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 0 20px  20px 0 ;
   
   
  
 
    
    
}
section{
    background-color:white ;
    text-align: justify;
    width: 65%;
    height: 300px;
    padding:10px;
    display: flex;
    flex-direction: column;
    border-radius:  20px 0 0 20px ;
    
   
    
}

section h2{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

section p{
    margin-top: 4px;
    font-size: 0.9em;
}


.campotxt{
    background-color: #a9f8f381;
    border: 1px solid #5E2C81;
    border-radius: 8px;
    width: 80%;
    padding: 6px;
    width: 100%;

   
}



#button{
    width: 100%;
    color: white;
    background-color: #4EA29D;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #4EA29D;
}

#button2{
    width: 100%;
    color:#4EA29D;
    background-color: #ffffff;
    border: 1px solid #4EA29D;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;


}

#backtxt1{
    background-color: #5E2C81;
    border-radius: 10px;
    text-align: right;
    margin-top: 5px;
    padding: 1px;
    display: flex;
    padding-left: 10px;
  
}


#backtxt2{
    background-color: #5E2C81;
    border-radius: 10px;
    text-align: right;
    margin-top: 5px;
    padding: 1px;
    display: flex;
    padding-left: 10px;
    
  
}
#person{
    color: white;
    display: flex;
    align-items: center;
    margin: right 1px;;
 

    
}
#key{
    color: white;
    display: flex;
    align-items: center;
    

}

.campotxt:hover{
    background-color: white;
}
input:focus{
    background-color: #ffffff;
}

#button:hover{
    background-color: #5E2C81;
    color:white;

}
#button2:hover{
    background-color: #5E2C81;
    color: white;
    
}

    
  

    
    
}


    


        
